body {
  font-family: "Bahnschrift";
  background-color: white;
}

.tracker-container {
  width: 600px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.logo {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 80%;
  height: auto;
}

.homebuttons {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px;
  display: inline-block;
}
.homebuttons:link {
  text-decoration: none;
}
.homebuttons:hover {
  background-color: #e8776f;
}

.homebuttons + .homebuttons {
  margin-left: 10px;
  margin-top: 10px;
}

.homediv {
  text-align: center;
}

.about-container {
  text-align: center;
}

.changelog-container {
  text-align: center;
}

.homeTitle{
  text-align: center;
}

.results{
  margin-top: 10px;
}