body {
  font-family: Helvetica;
  background-color: white;
}

.flex-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.content {
  display: none;
}

.loader {
  height: 200 vh;
  width: 200 vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 100vh;
}
